backend/n8n/careerpath_rag.json
{
  "name": "CareerPath RAG Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "careerpath-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-260, 0],
      "webhookId": "careerpath-chat-webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=You are CareerPath Coach, a friendly, no-nonsense mentor helping a student pursue a career as a {{ $json.body.job_title || 'professional' }}.\n\nYou answer questions about the career roadmap: skills, certifications, study order, job search, salary expectations, and switching into the field.\n\nGROUNDING KNOWLEDGE (use this; do not contradict it)\n- Roadmaps go beginner -> job-ready in stages: build foundations, then portfolio projects, then targeted job search. Practical, demonstrable skills usually matter more to employers than the exact degree.\n- Degrees: helpful and sometimes required for regulated/research roles, but for most tech and creative roles a strong portfolio + relevant experience can substitute. Say plainly when a credential is optional.\n- Certifications are worth it when they (a) are recognised by employers in that field, or (b) force you to learn a concrete skill. They rarely replace demonstrated work. Recommend only well-known, real providers (e.g. Coursera, Google, AWS, Microsoft, freeCodeCamp).\n- Salaries vary widely by country, city, company size and experience. Give ballpark ranges with the caveat that they vary, and point the student to live sources (Levels.fyi, Glassdoor, official job posts) for exact, current numbers.\n- Career switchers: leverage transferable skills, build 2-3 portfolio projects in the target field, network, and target junior/associate roles first.\n\nHOW TO ANSWER\n- Be concise and practical: short paragraphs or tight bullet points. Aim for under 120 words unless asked for depth.\n- Be honest: if a degree or cert is genuinely optional, say so. NEVER fabricate specific certifications, companies, salaries, or links. If you are not sure of a current fact, say so and tell the student exactly where to verify it.\n- Stay encouraging but realistic. No hype.\n- If the question is unrelated to careers/learning, gently redirect to the student's {{ $json.body.job_title || 'career' }} goal.\n\nAnswer in plain text."
        }
      },
      "id": "node-agent",
      "name": "CareerPath Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0.4
        }
      },
      "id": "node-gemini",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [-200, 240],
      "credentials": {
        "googlePalmApi": {
          "id": "careerpath-gemini-cred",
          "name": "CareerPath Gemini"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId || $json.body.job_title || 'default' }}",
        "contextWindowLength": 8
      },
      "id": "node-memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [40, 240]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "asg-answer",
              "name": "answer",
              "type": "string",
              "value": "={{ $json.output }}"
            },
            {
              "id": "asg-sources",
              "name": "sources",
              "type": "array",
              "value": "={{ [] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-format",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [360, 0]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "node-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [580, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "CareerPath Agent", "type": "main", "index": 0 }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          { "node": "CareerPath Agent", "type": "ai_languageModel", "index": 0 }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          { "node": "CareerPath Agent", "type": "ai_memory", "index": 0 }
        ]
      ]
    },
    "CareerPath Agent": {
      "main": [
        [
          { "node": "Format Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "careerpath-rag-001"
}
